{% extends 'base.html.twig' %}

{% set title = "About" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">What is MUTTS?</h2>
            <p class="lead">We're Manchester Universities Technical Theatre Society - A group of like-minded students with a passion for technology used behind-the-scenes across Theatre and Live Events.</p>
            
            <h2 class="thin">What do we do?</h2>
            <p>We provide technical support and equipment hire to events organised by societies and other organisations around Manchester. We volunteer our time to support Theatrical Performances, Live Events, Conferences, Society Balls and more.</p>
            <p>We provide training on all of our equipment to anyone who might be interested in going out on jobs with us - no previous technical experience is required to get involved and work with us.</p>
            <p><a href="./getinvolved">Click here</a> for more information on how you might be able to get involved.</p>
            
            <h2 class="thin">Our History</h2>
            <p>Now in our 7th year, MUTTS was founded in 2013 by a group of students who realised that there was nowhere for people interested in the behind-the-scenes of Theatre and Live Events to get involved with, aside from working directly for performance societies who required technicians. Working with performance societies such as the University of Manchester Drama Society and Musical Theatre Society, we gradually began to phase in our technical support in place of third party companies.</p>
            <p>In 2013 we started to invest in a significant amount of our own equipment and have continued to do so until today, where we now have a stock of equipment big enough to be able to support multiple events at once happening all over campus and beyond. We do not turn a profit but instead re-invest any funds back into our equipment so we can deliver cheaper and better support to our clients.</p>
        </div>
    </div>
</div>
{% endblock %}