{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2017/18</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/louis.jpg" alt="Chair">
            <h2>Louis Bond</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>As chair, Louis oversees daily MUTTS activities and ensures we continue to improve as a society. Going into his third year at Manchester, he joined MUTTS last year with a desire to learn more about the industry where he currently works as stage crew. His main goal this year is to get more students involved from other universities such MMU and RNCM, as well as welcoming UoM students at any point throughout the year. In his free time he creates exceptionally ugly furniture in his home workshop.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/chris.jpg" alt="Treasurer">
            <h2>Chris Henderson</h2>
            <h3>Treasurer</h3>
            <p class="lead"><a href="mailto:hire@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Serving as treasurer for a second year, Chris is responsible for the society's finances. A third year Computer Scientist, he joined MUTTS in 2016 to continue an interest in tech developed at school. This year he's looking to keep our financial outlook positive, so we can invest in more equipment to play with and improve the service we can provide to other societies. Away from MUTTS, Chris sails dinghies, drives powerboats and plays too many video games.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/helena.jpg" alt="Secretary">
            <h2>Helena Bilsborough</h2>
            <h3>Secretary</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>Helena is responsible for the organisation of our Crew and Show Op rotas, along with membership communication. She joined MUTTS last year to find out more about what goes on behind the scenes in theatre and now has a love for sound tech. She is currently a second-year Psychology student and spends her spare time playing the guitar and going to too many concerts.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/gareth.jpg" alt="Publicity">
            <h2>Gareth Jones</h2>
            <h3>Publicity Officer</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">publicity@mutts.org.uk</a></p>
            <p>Gareth is a second year PhD student, who identifies species of bees using their wing beat sounds. He is a sound engineer for MUTTS and has been involved with too many musicals to count. Outside of uni, he plays jazz double bass and enjoys geeky board games.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/jay.jpg" alt="Social Sec">
            <h2>Jay Sahnan</h2>
            <h3>Social Secretary</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Jay is a first year Aeronautical Engineer and lighting operater. Joining MUTTS last September, he has been involved with two award winning productions in the last year and works part time in the industry, whilst studying for his degree. This year he hopes to instigate more joint socials with other societies, and to run more events in general. Outside of Uni, Jay plays too many video games and drives a car older than himself.</p>
        </div>
    </div>
</div>
{% endblock %}