{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2023/24</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/jay_fixed.jpg" alt="Chair">
            <h2>Jay Brown</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>Jay is a second year Film Studies and German. As Chair they are responsible for chairing committee meetings, taking overall responsibility for the society and its activities and working with other committee members on tasks such as organising training and ensuring the adequate staffing of events. This year they aim to work with as many societies as possible to develop a diverse variety of projects for MUTTS.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/george_fixed.jpg" alt="Hire Manager">
            <h2>George Wilson</h2>
            <h3>Hire Manager</h3>
            <p class="lead"><a href="mailto:hire@mutts.org.uk">hire@mutts.org.uk</a></p>
            <p>George is in his second year of MUTTS, having joined the society last year. As hire manager, it is his job to oversee all hires, making sure the project managers feel supported in their role. He also manages MUTTS' equipment, making sure that we can meet the highest standards.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/sam_fixed.jpg" alt="Treasurer">
            <h2>Sam Jackson</h2>
            <h3>Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Sam is a third year Politics and Economics student, and it is his third year in MUTTS. As treasurer he'll be responsible for the society’s finances.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/will_fixed.jpg" alt="Secretary">
            <h2>Will Clark-Steel</h2>
            <h3>Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>Will is a third year Electronic Engineering student and it is his second year in MUTTS. As Secretary, he will be overseeing day to day organisation of the society.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/alf_fixed.jpg" alt="social sec">
            <h2>Alf Koplick</h2>
            <h3>Social Secretary &amp; Inclusion Officer</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Alf is a 4th Year Physics student, who has been around MUTTS for the previous two years. As Social Secretary and Inclusion officer it is his role to organise events within the society and ensure that everyone feels welcome and happy at MUTTS. This year he hopes that he can increase the number of dedicated social events and bring in plenty of new members.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/arjun_fixed.jpg" alt="Crew Lead">
            <h2>Arjun Patel</h2>
            <h3>Crew Lead</h3>
            <p class="lead"><a href="mailto:crew@mutts.org.uk">crew@mutts.org.uk</a></p>
            <p>Arjun is a second year economics student who joined MUTTS last year. As the Crew Lead he is responsible for maintaining the crew and show operator rota for hires</p>
        </div>
    </div>
</div>
{% endblock %}
