{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2020/21</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/louis.jpg" alt="Chair">
            <h2>Louis Icke</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>Louis is a third year Aerospace Engineering student. As Chair he is responsible for chairing committee meetings, taking overall responsibility for the society and its activities and working with other committee members on tasks such as organising training and ensuring the adequate staffing of events. This year he aims to increase the number of external venues MUTTS works in, and collaborate with even more socities and student groups.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/samtw.jpg" alt="Hire Manager">
            <h2>Sam Talbot-Williams</h2>
            <h3>Hire Manager</h3>
            <p class="lead"><a href="mailto:hire@mutts.org.uk">hire@mutts.org.uk</a></p>
            <p>Sam is in his second year of MUTTS, having joined the society last year. As hire manager, it is his job to oversee all hires, making sure the project managers feel supported in their role. He also manages MUTTS' equipment, making sure that we can meet the highest standards.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/sam.jpg" alt="Treasurer">
            <h2>Sam Jackson</h2>
            <h3>Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Sam is a second year Politics and Economics student, and it is his second year in MUTTS. As treasurer he'll be responsible for the society’s finances.<p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/james.jpg" alt="Secretary">
            <h2>James Button</h2>
            <h3>Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>Louis is a second year Aerospace Engineering student in his second year with MUTTS. As Secretary, he has a mainly administrative role, with responsibilities such as taking minutes during meetings, upkeep of the membership register and communicating and maintaining a calendar for show operator positions. This year he would like to ensure easy access to information for all society members. In his free time, he likes playing the piano and regularly volunteers with Scouts.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/lucy.jpg" alt="Social Sec">
            <h2>Lucy Watson</h2>
            <h3>Social Secretary</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Lucy is a second year Music and Drama student who joined MUTTS last year. As social sec she is responsible for organising and promoting events as well as overseeing the society's social media platforms. This year she hopes to get back to organising in-person events with the slow return to normal. In her free time she enjoys cycling and trying to play rugby.</p>
        </div>
    </div>
</div>
{% endblock %}
