{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2019/20</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/anthony.jpg" alt="Chair">
            <h2>Anthony Swift</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>Anthony is a second year electrical and electronic engineer, and this is his third year working with MUTTS. As chair Anthony oversees the daily activities at MUTTS, works to ensure all members enjoy themselves, are well trained and working in a safe environment at all times. His aims for the society this year are to branch out and try and work with as many other societies as possible.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/weronika.jpg" alt="Hire Manager">
            <h2>Weronika Wesolowska</h2>
            <h3>Hire Manager</h3>
            <p class="lead"><a href="mailto:hire@mutts.org.uk">hire@mutts.org.uk</a></p>
            <p>Weronika is a second year Aerospace Engineering student, and this is her second year with MUTTS.  As the Hire Manager, she is responsible for meeting with other societies and groups in order to help them organise events. She also oversees all jobs and equipment, making sure they meet the highest standards. Her aim for this year is to work with as many new societies as possible. In her spare time, Weronika enjoys cooking, baking and watching too many reality TV shows.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/chris.jpg" alt="Treasurer">
            <h2>Chris Henderson</h2>
            <h3>Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Serving as treasurer for a fourth year, Chris is responsible for the society's finances. Now into his fifth year of studies in Computer Science, he joined MUTTS in 2016 to continue an interest in tech developed at school. This year he's looking to keep our financial outlook positive so we can invest in more equipment and improve the service we can provide to other societies. Away from MUTTS Chris sails dinghies, drives powerboats and plays too many video games.<p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/alex.jpg" alt="Secretary">
            <h2>Alex Moyer</h2>
            <h3>Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>Alex is a second year History student in her second year with MUTTS. As Secretary, she has a mainly administrative role, with responsibilities such as taking minutes during meetings, upkeep of the membership register and communicating and maintaining a calendar for show operator positions. This year she would like to ensure strong communication to the society membership. In her free time she volunteers with Girlguiding and enjoys reading, crafts and watching films.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/bea.jpg" alt="Social Sec">
            <h2>Bea Healy</h2>
            <h3>Social Secretary</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Bea is a second year computer science student in her second year of MUTTS, and will be working as Social Sec this year to keep the MUTTS community going in these difficult times and to post better memes than her predecessor. In her free time she loves comedy, wears dungarees way too often and is really passionate about which supermarkets do the best meal deals.</p>
        </div>
    </div>
</div>
{% endblock %}
