{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2019/20</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/lucas.jpg" alt="Chair">
            <h2>Lucas Leao</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>Lucas is a third year student who has recently returned from a placement year with Avolites, a company that makes lighting control equipment. As chair Lucas oversees the daily activities at MUTTS and tries to improve the society as a whole. He joined MUTTS two years ago to try something new and has enjoyed being a tech ever since. He is a keen cyclist and in the holidays likes going wild camping. </p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/chris.jpg" alt="Treasurer">
            <h2>Chris Henderson</h2>
            <h3>Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Serving as treasurer for a third year, Chris is responsible for the society's finances. Now into his fourth year of studies in Computer Science, he joined MUTTS in 2016 to continue an interest in tech developed at school. This year he's looking to keep our financial outlook positive so we can invest in more equipment and improve the service we can provide to other societies. Away from MUTTS Chris sails dinghies, drives powerboats and plays too many video games.<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/helena.jpg" alt="Secretary">
            <h2>Luke Opaliński</h2>
            <h3>Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>As secretary, Luke is responsible for organising crew and show op rotas. He joined MUTTS last year while doing a foundation course and is now in his first year studying Earth and Environmental Sciences. In his free time, he works on his own projects with vintage electronics and computers.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/anthony.jpg" alt="Publicity">
            <h2>Anthony Swift</h2>
            <h3>Hire Manager</h3>
            <p class="lead"><a href="mailto:hiremanager@mutts.org.uk">hiremanager@mutts.org.uk</a></p>
            <p>Anthony is a first year electrical and electronic engineer. As Hire Manager, Anthony is in charge of insuring MUTTS equipment is maintained to a very high standard; as well as meeting with other societies and groups in order to organise and plan all the events MUTTS work on, and ensuring all jobs are undertaken at the highest level of quality possible. His aims for the society this year are to branch out and try and work with as many other societies as possible.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/louis.jpg" alt="Social Sec">
            <h2>Louis Bond</h2>
            <h3>Social Secretary</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Coming into his fourth year in Manchester, Louis is our Social Secretary. Having spent last year as chair he's keen to focus on expanding what the society offers to members and improving overall experience within MUTTS during the course of this year. Outside of university Louis is learning to weld and continuing to start various projects he will probably never finish.</p>
        </div>
    </div>
</div>
{% endblock %}
