{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2022/23</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/louis.jpg" alt="Chair">
            <h2>Louis Icke</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>Louis is a third year Aerospace Engineering student. As Chair he is responsible for chairing committee meetings, taking overall responsibility for the society and its activities and working with other committee members on tasks such as organising training and ensuring the adequate staffing of events. This year he aims to increase the number of external venues MUTTS works in, and collaborate with even more socities and student groups.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/samtw.jpg" alt="Hire Manager">
            <h2>Sam Talbot-Williams</h2>
            <h3>Hire Manager</h3>
            <p class="lead"><a href="mailto:hire@mutts.org.uk">hire@mutts.org.uk</a></p>
            <p>Sam is in his second year of MUTTS, having joined the society last year. As hire manager, it is his job to oversee all hires, making sure the project managers feel supported in their role. He also manages MUTTS' equipment, making sure that we can meet the highest standards.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/samj.jpg" alt="Treasurer">
            <h2>Sam Jackson</h2>
            <h3>Co-Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Sam is a second year Politics and Economics student, and it is his second year in MUTTS. As treasurer he'll be responsible for the society’s finances.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/rachel.jpg" alt="Treasurer">
            <h2>Rachel Samuels</h2>
            <h3>Co-Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>This is Rachel's second year in MUTTS. As treasurer she'll be responsible for the society’s finances.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/james.jpg" alt="Secretary">
            <h2>James Button</h2>
            <h3>Co-Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>James is a third year Pharmacy student and it is his second year in MUTTS. As Secretary, he is responsible for maintaining the crew and show operator rota for hires as well as general organisation.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/nisan.jpg" alt="Treasurer">
            <h2>Nisan Borahan</h2>
            <h3>Co-Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>Nisan is a third year Cognitive Neuroscience and Psychology student who joined MUTTS last year. As Secretary, she has responsibilities such as taking minutes during meetings, maintaining the crew rota, and organizing the paperwork. This year, she aims to increase membership and broaden the range of services provided by MUTTS. In her free time, she enjoys reading and attempting to draw.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/charlie.jpg" alt="social sec">
            <h2>Charlie Roberts</h2>
            <h3>Social Secretary &amp; Inclusion Officer</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Charlie is a second year Biology student. As social sec they are responsible for organising and promoting events as well as overseeing the society's social media platforms. As Inclusion Officer they oversee the wellbeing of all society members.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/david.jpg" alt="MMU Representative">
            <h2>David Ferro</h2>
            <h3>MMU Representative</h3>
            <p class="lead"><a href="mailto:mmurep@mutts.org.uk">mmurep@mutts.org.uk</a></p>
            <p>David is a third year Software Engineering student who joined MUTTS last year. As MMU Representative he is responsible for organising and promoting MUTTS in MMU. This year he hopes to expand mutts into MMU and operate a few shows. In his free time he enjoys playing rugby.</p>
        </div>
    </div>
</div>
{% endblock %}
