{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2020/21</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/alex.jpg" alt="Chair">
            <h2>Alex Moyer</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>Alex is a third year History student in her third year with MUTTS. As Chair she is responsible for chairing committee meetings, taking overall responsibility for the society and its activities and working with other committee members on tasks such as organising training and ensuring the adequate staffing of events. This year she would like to ensure strong communication to the society membership. In her free time she volunteers with Girlguiding and enjoys reading, crafts and watching films.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/weronika.jpg" alt="Hire Manager">
            <h2>Weronika Wesolowska</h2>
            <h3>Hire Manager</h3>
            <p class="lead"><a href="mailto:hire@mutts.org.uk">hire@mutts.org.uk</a></p>
            <p>Weronika is a third year Aerospace Engineering student, and this is her third year with MUTTS. As the Hire Manager, she is responsible for meeting with other societies and groups in order to help them organise events. She also oversees all jobs and equipment, making sure they meet the highest standards. Her aim for this year is to work with as many new societies as possible. In her spare time, Weronika enjoys cooking, baking and watching too many reality TV shows.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/bea.jpg" alt="Treasurer">
            <h2>Bea Healy</h2>
            <h3>Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Bea is a third year Computer Science student who has been part of MUTTS for three years. As treasurer she’ll be responsible for the society’s finances as we hopefully return to business as normal, and hopes to see a successful year as live events return. In her free time she gets distracted reading Wikipedia articles and buying unnecessary but slightly cool things on eBay.<p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/louis.jpg" alt="Secretary">
            <h2>Louis Icke</h2>
            <h3>Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>Louis is a second year Aerospace Engineering student in his second year with MUTTS. As Secretary, he has a mainly administrative role, with responsibilities such as taking minutes during meetings, upkeep of the membership register and communicating and maintaining a calendar for show operator positions. This year he would like to ensure easy access to information for all society members. In his free time, he likes playing the piano and regularly volunteers with Scouts.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/lucy.jpg" alt="Social Sec">
            <h2>Lucy Watson</h2>
            <h3>Social Secretary</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Lucy is a second year Music and Drama student who joined MUTTS last year. As social sec she is responsible for organising and promoting events as well as overseeing the society's social media platforms. This year she hopes to get back to organising in-person events with the slow return to normal. In her free time she enjoys cycling and trying to play rugby.</p>
        </div>
    </div>
</div>
{% endblock %}
