{% extends 'base.html.twig' %}

{% set title = "Committee" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">MUTTS Committee 2017/18</h2>
            <p class="lead">The Committee are responsible for the day-to-day running of MUTTS, with each elected officer given particular responsibilities. They can be contacted individually via their email addresses below, or alternatively you can email the entire committee at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="img/committee/edd.jpg" alt="Chair">
            <h2>Edd Cooke</h2>
            <h3>Chair</h3>
            <p class="lead"><a href="mailto:chair@mutts.org.uk">chair@mutts.org.uk</a></p>
            <p>Holding overall responsibility for the society's activities, Edd makes sure that MUTTS is running smoothly day-to-day and is striving to be the best it can be. He joined MUTTS last year wanting to learn more about Technical Theatre and is driven to get as many students involved as possible throughout the 2017-18 academic year (so drop him a line if you have any questions!) After graduating last year he is now a PhD student making autonomous submarines for surveying nuclear waste.</p>
        </div>
        <div class="col-md-5 bio">
            <img class="rounded-circle" src="http://via.placeholder.com/150x150" alt="Hire Manager">
            <h2>James Phillips</h2>
            <h3>Hire Manager</h3>
            <p class="lead"><a href="mailto:hire@mutts.org.uk">hire@mutts.org.uk</a></p>
            <p>James is responsible for our Equipment Hire and keeps a watchful eye on all the events using our kit to make sure they go ahead without a hitch. He joined MUTTS three years ago whilst he worked as a technician between his studies and is here to ensure we deliver the highest possible quality of production for every job on the calendar. He is now working as a Lighting Technician but likes to pretend that he hasn't graduated from university...</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/chris.jpg" alt="Treasuewe">
            <h2>Chris Henderson</h2>
            <h3>Treasurer</h3>
            <p class="lead"><a href="mailto:treasurer@mutts.org.uk">treasurer@mutts.org.uk</a></p>
            <p>Chris is responsible for all of our accounts. He keeps on top of our invoices and also supervises our budgets and capital expenditure - he's the man who decides what shiny things we can buy next! He joined MUTTS last year and is a Second Year Computer Science student at UoM.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/gareth.jpg" alt="Secretary">
            <h2>Gareth Jones</h2>
            <h3>Secretary</h3>
            <p class="lead"><a href="mailto:secretary@mutts.org.uk">secretary@mutts.org.uk</a></p>
            <p>Gareth is responsible for all our membership communication as well as overseeing organisation of our Crew and Show Op Rotas. He joined MUTTS last year and went straight into pulling an all-nighter on Pangaea Festival as his first gig! He is a PhD student firing lasers at bees.</p>
        </div>
        <div class="col-md-4 bio">
            <img class="rounded-circle" src="img/committee/hugo.jpg" alt="Social Sec">
            <h2>Hugo Woodhouse</h2>
            <h3>Social Secretary</h3>
            <p class="lead"><a href="mailto:social@mutts.org.uk">social@mutts.org.uk</a></p>
            <p>Hugo is here to make sure that we all actually have fun instead of sitting in the workshop making cables all night. He is responsible for organising all of our group events such as our Christmas Dinner and Curry Nights. He joined MUTTS last year and is studying Chemistry at UoM. </p>
        </div>
    </div>
</div>
{% endblock %}