{% extends 'base.html.twig' %}

{% set title = "Get Involved" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Get Involved</h2>
            <p class="lead">We welcome all students across Manchester Universities and you don't need any previous technical experience.</p>
            <p>At MUTTS we believe that the best ways to learn are both on the job and with practical training sessions based around the use of the equipment that we stock.</p>
        </div>
    </div>
</div>
    
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Taster and Training Sessions</h2>
            <p class="lead">At the start of each semester we run training sessions dedicated to introducing people to the basics of theatre technology, such as showing you have to rig simple lights systems and use the basic features of an audio mixing desk. These are great opportunities to try your hand at what we do with real equipment and learn the basics to get your foot in the door. But don't worry if you miss these! We're always happy to teach and introduce new people.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/getinvolved/1.jpg" alt="A line of movers set up on the floor lit in rainbow colours">
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Tuesday Sessions</h2>
            <p class="lead">Throughout the academic year we meet on Tuesdays, usually at the SU theatre. There's always events to prep equipment for or training sessions taking place so come down, say hello and see how you can get involved.</p>
            <p>Directions to the theatre can be found <a href="./directions">here</a>.</p>
        </div>
        <div class="col-md-5 order-md-2">
            <img class="featurette-image img-fluid mx-auto" src="img/getinvolved/2.jpg" alt="3 people up ladders rigging lights">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Rigs and De-rigs</h2>
            <p class="lead">For each of our jobs, we have a rig and a de-rig which is usually all hands on deck, and we are always happy to welcome new people who are willing to lend a hand, even if they don't have much experience. Keep an eye on our discord for when and where these are, since they can be a great learning opportunity.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/getinvolved/4.jpg" alt="A lowered truss in a large hall with a man attaching something to it">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-1">
            <h2 class="featurette-heading">Socials</h2>
            <p class="lead">Sometimes its nice to get away from all that tech stuff. We're regularly in the pub after a workshop session and we also host events like an annual christmas dinner, an end of year party, and chill movie nights with takeout. Keep an eye on our instagram and discord for these, and always feel free to come along!</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/getinvolved/3.jpg" alt="4 people having a BBQ in the peak district">
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Sound interesting?</h2>
            <p class="lead">It'd be great to see you at one of our get-ins or at our weekly workshop sessions. Join our discord to get involved, or follow our instagram to take a look at the kind of projects we do and the socials we run. </p>
            <br>
            <div class="socialmediaicons">
            &emsp;
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <a href="https://www.instagram.com/mutts_crew/" target="_blank"><i class="fa fa-instagram" style='font-size:36px'></i></a>
            &emsp;
            <script src="https://kit.fontawesome.com/73c5907498.js" crossorigin="anonymous"></script>
            <a href="https://discord.com/invite/EFZJDQQAJN" target="_blank"><i class="fab fa-discord" style='font-size:36px'></i></a>
            </div>
            <br>
            <p>Alternatively, feel free to get in touch with our <a href="./committee">committee</a> if you would like more information.</p>
        </div>
        <div class="col-md-5 order-md-1">
            
            <img class="featurette-image img-fluid mx-auto" src="img/getinvolved/5.jpg" alt="Light and audio desks at the front of house of Alive! fest">

        </div>
        
    </div>
    
</div>
{% endblock %}