{% extends 'base.html.twig' %}

{% set title = "Home" %}

{% block body %}
<div class="container marketing">


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">MUTTS provide Lighting and Sound production to a variety of student events...</h2>
            <p class="lead">and have a lot of fun in the process of doing so! Our members come from a variety of different degree subjects and technical backgrounds with a shared love for behind the scenes technology in Theatre and Live Events.</p>
            <p>Our work contributing to the success of so many events led to us receiving the <strong>Society of The Year</strong> award from the University of Manchester Student's Union for academic year 2016-17.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/1.jpg" alt="Mainstage at Alive fest">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">There's something for everyone.</h2>
            <p class="lead">It doesn't matter if you've never touched a Lighting Desk before or if you have no idea how sound gets from a microphone on stage out to the audience. We provide all the necessary training required to enable our members to rig and crew events throughout the year.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/home/2.jpg" alt="Someone strapping steeldeck down">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Fancy getting involved?</h2>
            <p class="lead">It'd be great to see you at one of our get-ins or at our weekly workshop sessions. Join our Discord to get involved, or follow our Instagram to take a look at the kind of projects we do and the socials we run. </p>
        
            <div class="socialmediaicons">
            &emsp;
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
            <a href="https://www.instagram.com/mutts_crew/" target="_blank"><i class="fa fa-instagram" style='font-size:36px'></i></a>
            &emsp;
            <script src="https://kit.fontawesome.com/73c5907498.js" crossorigin="anonymous"></script>
            <a href="https://discord.com/invite/EFZJDQQAJN" target="_blank"><i class="fab fa-discord" style='font-size:36px'></i></a>
            </div>
            <br>
            <p>Alternatively, feel free to get in touch with our <a href="./committee">committee</a> if you would like more information.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/3.jpg" alt="People gathered for a selfie in the park, laughing">
        </div>
    </div>
</div>
{% endblock %}