{% extends 'base.html.twig' %}

{% set title = "Home" %}

{% block body %}
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">MUTTS provide Lighting and Sound production to a variety of student events...</h2>
            <p class="lead">and have a lot of fun in the process of doing so! Our members come from a variety of different degree subjects and technical backgrounds with a shared love for behind the scenes technology in Theatre and Live Events.</p>
            <p>Our work contributing to the success of so many events last year led to us receiving the <strong>Society of The Year</strong> award from the University of Manchester Student's Union for academic year 2016-17.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/1.jpg" alt="Desks">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">There's something for everyone.</h2>
            <p class="lead">It doesn't matter if you've never touched a Lighting Desk before or if you have no idea how sound gets from a microphone on stage out to the audience. We provide all the necessary training required to enable our members to rig and crew events throughout the year.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/home/2.jpg" alt="Mover">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Fancy getting involved?</h2>
            <p class="lead">It'd be great to see you at one of our get-ins or at our weekly workshop sessions. Make sure you keep up to date with our goings-on by joining our Mailing List: </p>
            <form action="subscribe.php" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="g-recaptcha" data-sitekey="6Ld_jS8UAAAAAJttbOhM8zz-Oywx02medh1G0Uat"></div>
                <input type="hidden" name="return" value="home">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Sign Up</button>
            </form>
            <br>
            <p>Alternatively, feel free to get in touch with our <a href="./committee">committee</a> if you would like more information.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/3.jpg" alt="Hi-vis">
        </div>
    </div>
</div>
{% endblock %}