{% extends 'base.html.twig' %}

{% set title = "Home" %}

{% block body %}
<div class="container marketing">
    {#
    <div class="alert alert-warning mb-5" role="alert">
        <h4 class="alert-heading">MUTTS and COVID-19</h4>
        <p>We're hard at work at the moment planning how to make MUTTS the best it can be in the current conditions. Keep an eye on our <a href="https://www.facebook.com/mutts.manchester" target="_blank">Facebook</a> &amp; <a href="https://www.instagram.com/mutts_crew/" target="_blank">Instagram</a> for more info.</p>
        <p>If you're looking to join the society and/or have any questions in the mean time get in touch with us via our <a href="https://www.facebook.com/mutts.manchester" target="_blank">Facebook Page</a> or by emailling a member of the <a href="./committee">Committee</a>.</p>
    </div>
    #}


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">MUTTS provide Lighting and Sound production to a variety of student events...</h2>
            <p class="lead">and have a lot of fun in the process of doing so! Our members come from a variety of different degree subjects and technical backgrounds with a shared love for behind the scenes technology in Theatre and Live Events.</p>
            <p>Our work contributing to the success of so many events last year led to us receiving the <strong>Society of The Year</strong> award from the University of Manchester Student's Union for academic year 2016-17.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/1.jpg" alt="Desks">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">There's something for everyone.</h2>
            <p class="lead">It doesn't matter if you've never touched a Lighting Desk before or if you have no idea how sound gets from a microphone on stage out to the audience. We provide all the necessary training required to enable our members to rig and crew events throughout the year.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/home/2.jpg" alt="Mover">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Fancy getting involved?</h2>
            <p class="lead">It'd be great to see you at one of our get-ins or at our weekly workshop sessions. Make sure you keep up to date with our goings-on by liking our page on Facebook: </p>
                <div class="fb-page" data-href="https://www.facebook.com/mutts.manchester/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mutts.manchester/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mutts.manchester/">Manchester Universities Technical Theatre Society - MUTTS</a></blockquote></div>
            <br>
            <p>Alternatively, feel free to get in touch with our <a href="./committee">committee</a> if you would like more information.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/home/3.jpg" alt="Hi-vis">
        </div>
    </div>
</div>
{% endblock %}