{% extends 'base.html.twig' %}

{% set title = "Work With Us" %}

{% block body %}



<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">How We Work</h2>
            <p class="lead">You will start with a meeting with some of our committee members and a <b>Project Manager</b> who will be one of our members who has been assigned to run and organise the tech production for your show. 
            <br>Once we have a rough plan of your event, your project manager will draft a quote for you. If this is quote works for you then great, but if not they will meet with you again or discuss it over email to adjust your quote and ensure we have covered all your needs for a price you can manage. 
            <br>Your Project Manager will also recruit specific people to manage your lighting and audio respectively (known as the <b>L1</b> and <b>A1</b>), who may be in contact with you to discuss details. The better you communicate with them, the smoother your tech will go!</p>
        </div>
    </div>
    <hr class="featurette-divider" style="margin: 1rem 0;">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">The Run Up To Your Event</h2>
            <p class="lead"><b>At Least A Week Before Your Event:</b> We will need you to confirm the quote, timings of your show and when we can access the venue to rig the tech. We will also need a copy of your script if you are doing a theatrical show, including the lyrics of any musical numbers. We also ideally need a fast contact method of reaching your director or whoever can make decisions about design/logistics issues that may arise on the day of the rig.</p>
            <p class="lead"><b><a id="Definitions" class="nav-link-custom">In The Week Before:</a></b> This will vary depending on the type of event you are running, so have a look at the next section to see how we run tech weeks and preparations. But for any event, it will be a combination of some or all of the following steps:
            <ol>
            <li>Rig: Our crew will build and prepare our technical rig and any staging we have agreed with you. We may need to contact you to confirm any last minute details, but aside from that we will mostly need the venue free of any creative team members for their safety.</li>
            <br>
            <li>Lighting Programming: The Project Manager and L1 (lighting lead) will meet with your creative team lead (director) to program the sequences that your lights will go through during your performance. For this you need an accurate digital copy of the script or line-up including the lyrics of any musical numbers which have specific lighting changes in them.</li>
            <br>
            <li>Sitzprobe: The Project Manager and A1 (audio lead), will lead a detailed sound check of every aspect of your audio setup. This means that band members (with their instruments), cast members and anyone else who needs to be mic'ed must be present. We will need to tune the system to each performer individually as well as to the group as a whole, so this may take more time than you may expect.<br> The creative team should also have any necessary pre-recorded audio cues ready and loaded into a Q-Lab file. If you have any difficulty doing this, we recommend <a href="https://www.youtube.com/watch?v=m-YrIic83D0">this video</a> as a basic tutorial.</li>
            <br>
            <li>Cue-To-Cue: This is essentially a shortened mock tech run, where your performers go through the scenes/sections of your performance and we check every lighting cue and sound component is operating properly with the performers. This usually involves skipping sections with no cues, and can be a good opportunity for your stage management to get to grips with running your performance with every component, without taking the full time of a run. This step is usually only done for full stage musicals.</li>
            <br>
            <li>Tech Run: This is a full run of your performance, with every lighting cue and audio component included so that we can test every aspect of the system and make sure everything is running smoothly. Don't worry if things go wrong during your tech run, that is what it is for! We will have extra members of our crew around to handle any issues, and will discuss any concerns with you afterwards to ensure any issues are addressed.</li>
            </ol>
            </p>
            <p class="lead"><b>The Day Of:</b> We will need to run a quick sound check before each performance, so the earlier you can get your performers warmed up and ready to go the better. After sound check it's up to you! If you have any questions or concerns please speak to your Project Manager ASAP, they are there to help you run the best show you can.</p>
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">
    
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Example Tech Weeks and Preparations</h2>
            <p class="lead">
            Below are some examples of how the preparations for your production will go. These change depending on your needs and will be fully planned between you and your Project Manager.
            <table style="width:58rem; margin-left: auto; margin-right: auto; overflow-x:scroll; position: sticky;">
            <tr style="border-top: 0px;">
                <th>Step</th>
                <th>Musicals</th>
                <th>Stage Plays</th>
                <th>Gigs/Musical Performers</th>
            </tr>
            <tr>
                <th>Step 1</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Rig</a>: 6-9 hours</td>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Rig</a>: 2-8 hours</td>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Rig</a>: 1-5 hours</td>

                
            </tr>
            <tr>
                <th>Step 2</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Lighting Programming</a>: 4-9 hours</td>

                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Lighting Programming</a>: 1-3 hours</td>
                <td>Lighting Consult: <1 hour <br>(This should be a quick discussion.)</td>


                <td></td>
            </tr>
            <tr>
                <th>Step 3</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Sitzprobe</a>: 4-8 hours</td>

                <td>Sound Check (just for speakers and Q-lab, see <a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Sitzprobe</a> above): <1 hour</td>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Sitzprobe/Sound Check</a>: <1 hour</td>
            </tr>
            <tr>
                <th>Step 4</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Cue-To-Cue</a>: 1-3 hours</td>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Tech Run</a>: (Performance length)+30 mins</td>

            </tr>
            <tr>
                <th>Step 5</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Tech Run</a>: (Performance length)+1 hour</td>

            </tr>
            </table>
            </p>            
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Questions and Concerns</h2>
            <p class="lead">To provide more information about what you can expect from MUTTS as a Manchester Universities Student Society, as well as what we tend to expect from you, you can always contact us at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
		</div>
    </div>
</div>
{% endblock %}
