{% extends 'base.html.twig' %}

{% set title = "Work With Us" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">How We Work</h2>
            <p class="lead">You will start with a meeting with some of our committee members and a <b>Project Manager</b> who will be one of our members who has been assigned to run and organise the tech production for your show. <br>Once we have a rough idea of your needs, your venue and the plan of your event, your project manager will draft a quote for you. If this is perfect for you first time then great, if not they will meet with you or discuss it over email to adjust your quote and plan to ensure we have covered all your needs for a price you can manage. <br>Your Project Manager will also recruit specific people to manage your lighting and audio respectively (known as the <b>L1</b> and <b>A1</b>), who may be in contact with you to discuss details. The better you communicate with them, the smoother your tech will go!</p>
        </div>
    </div>
</div>
    
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">The Run Up To Your Event</h2>
            <p class="lead"><b>At Least A Week Before Your Event:</b> We will need you to confirm the quote, timings of your show and when we can access the venue to rig the tech. We will also need a copy of your script if you are doing a theatrical show, including the lyrics of any musical numbers. We also ideally need a fast contact method of reaching your director or whoever can make decisions about design/logistics issues that may arise on the day of the rig.</p>
            <p class="lead"><b>In The Week Before:</b> This will vary depending on the type of event you are running, so have a look at the section below to see how we run tech weeks and preparations.</p>
            <p class="lead"><b>The Day Of:</b> Keep an eye on whatever method of contact you have given us, and enjoy your production! If you have any questions or concerns please speak to your Project Manager ASAP, they are there to help you run the best show you can.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/1.jpg" alt="Mover">
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Example Tech Weeks and Preparations</h2>
            <p class="lead">.</p>            
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Questions and Concerns</h2>
            <p class="lead">To provide more information about what you can expect from MUTTS as a Manchester Universities Student Society, as well as what we tend to expect from you, you can always contact us at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
		</div>
    </div>
</div>
{% endblock %}
