{% extends 'base.html.twig' %}

{% set title = "How We Work" %}

{% block body %}

<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">The Planning Phase</h2>
            <p class="lead">You will start with a meeting with us to get an idea of what your production needs. Each project will be assigned a Committee Representative and a Project Manager who will work with you to run and organise the tech production for your show. 
            <br><br>Once we have a rough plan of your event, your project manager will draft a quote for you. We will then discuss it with you to ensure we have covered all your needs for a price you can manage. 
            <br><br>Your Project Manager will also recruit specific people to manage your lighting and audio respectively (known as the <b>LD</b> and <b>A1</b>), who may be in contact with you to discuss details. The better you communicate with them, the smoother your tech will go!</p>
        </div>
    </div>
    <hr class="featurette-divider" style="margin: 1rem 0;">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">The Run Up To Your Event</h2>
            <p class="lead"><b>At Least Two Weeks Before Your Event:</b> We will need you to confirm the quote, timings of your show and when we can access the venue to rig the tech, as well as fast contact details for your director/creative lead for any urgent questions on the day of the rig. To ensure the best results possible, your tech team may also need to view a full run of the show.</p>
            <p class="lead"><b><a id="Definitions" class="nav-link-custom">In The Week Before:</a></b> This will vary depending on the type of event you are running, so have a look at the next section to see how we run tech weeks and preparations. But for any event, it will be a combination of some or all of the following steps:
            <ol>
            <li>Rig: Our crew will prepare our technical rig and any staging previously agreed upon. We may contact you to confirm any last minute details, but primarily we need the venue free of any creative team members for their safety.</li>
            <br>
            <li>Lighting Programming: The Project Manager and LD (Lighting Designer) will meet with your director/creative lead to program the sequences that your lights will go through during your performance. For this you need an accurate digital copy of the script or line-up including the lyrics of any musical numbers which have specific lighting changes in them.</li>
            <br>
            <li>Sitzprobe: The Project Manager and A1 (Audio lead), will lead a detailed sound check of every aspect of your audio setup. This means that band members (with their instruments), cast members and anyone else who needs to be mic'ed must be present. This involves tuning audio components to individual performers and then the whole group, so this may take more time than you expect.<br> The creative team should also have any necessary pre-recorded audio cues ready and loaded into a Q-Lab file. If you have any difficulty doing this, we recommend <a href="https://www.youtube.com/watch?v=m-YrIic83D0">this video</a> as a basic tutorial.</li>
            <br>
            <li>Cue-To-Cue: This is a shortened mock tech run, where your performers go through the scenes/sections of your performance and we check every lighting cue and sound component is operating properly with the performers. Here we skip sections with no cues so that it doesn't take the full time of a run. This step is usually only done for full stage musicals.</li>
            <br>
            <li>Tech Run: This is a full run of your performance, with every lighting cue and audio component included so that we can test every aspect of the system and make sure everything is running smoothly. Don't worry if things go wrong during your tech run, that is what it is for! We will have extra members of our crew around to handle any issues, and will discuss any concerns with you afterwards to ensure any issues are addressed.</li>
            </ol>
            </p>
            <p class="lead"><b>The Day Of:</b> We will need to run a sound check before each performance, so the earlier you can get your performers warmed up and ready to go the better. After sound check it's up to you! If you have any questions or concerns please speak to your Project Manager ASAP, they are there to help you run the best show you can.</p>
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">
    
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Example Tech Weeks and Preparations</h2>
            <p class="lead">
            Below are some examples of how the preparations for your production will go. These change depending on your needs and will be fully planned between you and your Project Manager.
            <table style="width:80%; margin-left: auto; margin-right: auto; overflow-x:scroll; position: sticky;">
            <tr style="border-top: 0px;">
                <th>Step</th>
                <th>Musicals</th>
                <th>Stage Plays</th>
            </tr>
            <tr>
                <th>Step 1</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Rig</a>: 1-2 days</td>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Rig</a>: 2-8 hours</td>
            </tr>
            <tr>
                <th>Step 2</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Lighting Programming</a>: 4-9 hours</td>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Lighting Programming</a>: 1-3 hours</td>
                <td></td>
            </tr>
            <tr>
                <th>Step 3</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Sitzprobe</a>: 4-8 hours</td>
                <td>Sound Check (just for speakers and Q-lab, see <a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Sitzprobe</a> above): <1 hour</td>
            </tr>
            <tr>
                <th>Step 4</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Cue-To-Cue</a>: 1-3 hours</td>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Tech Run</a>: (Performance length)+30 mins</td>
            </tr>
            <tr>
                <th>Step 5</th>
                <td><a class="nav-link-custom" style="text-decoration: underline;" href="#Definitions">Tech Run</a>: (Performance length)+1 hour</td>
            </tr>
            </table>
            </p>            
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Questions and Concerns</h2>
            <p class="lead">To provide more information about what you can expect from MUTTS as a Manchester Universities Student Society, as well as what we tend to expect from you, you can always contact us at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
		</div>
    </div>
</div>
{% endblock %}
