{% extends 'base.html.twig' %}

{% set title = "How We Work" %}

{% block body %}

<div class="container pad-top">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">The Planning Phase</h2>
            <p class="lead">We start with a meeting between the core creative team and us to get an idea of what the production needs. Each project will be assigned a Committee Representative and a Project Manager from us who will lead this meeting and generally manage the tech production for the show.</p>
            <p class="lead">Once we have a rough plan of the event, the project manager will draft a quote based on a plan of our tech. We will then discuss it with the creative team, often in a follow up meeting, to ensure we have covered all the needs of the production for a price the creative team can manage. </p>
            <p class="lead">At this stage the creative team will also have to arrange with their venue and with us, the times which we can use it for Rig, De-rig, and various stages of the <a href="./techweek" target="_blank" class="nav-link-custom" style="text-decoration: underline;">Tech Week</a>.</p>
            <p class="lead">The Project Manager will also recruit specific people to manage the lighting and audio respectively (known as the <b>LD</b> and <b>A1</b>), who may need to further discuss details of their areas with the creative team. As with many things, communication is key in this phase, as it is best to get as many details worked out in advance as possible.</p>
            <p class="lead">Once the majority of the details have been hammered out, both sides will have to sign off on a quote in writing. From MUTTS this means it should be confirmed by the Project Manager and our committee's Hire Manager, and from the creative team it should be confirmed by the director or lead, and by anyone else who is managing the finances of the group, such as a society treasurer. This needs to be done at least a week before the rig at the absolute latest.</p>
        </div>
    </div>
    <hr class="featurette-divider" style="margin: 1rem 0;">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">The Run Up To The Event</h2>
            <p class="lead">
            In the weeks approaching the tech week, we need confirmation from the creative team about the exact timings for each performance (including the expected run time).
            We will also need a fast method of contact, such as a phone number, for the creative team lead/director, in order to answer any time-sensitive questions that may arise around Tech Week.
            </p>
            <p class="lead">
            To ensure the best results possible, it is best if the key members of the tech team can view a full run of the production in rehearsal before the rig day, in order to anticipate any issues which may not have been covered, and to design the technical components of the show to best enhance the production.
            </p>
            <p class="lead">
            For similar reasons, we also need a digital copy of the script. 
            For musicals, this script needs to include the lyrics of any musical numbers. 
            We are aware scripts for devised pieces may change up until the last minute, but it is still helpful to get an in-progress version. 
            The absolute latest we need a final accurate script is by the day of the Lighting Program.
            </p>
            <p class="lead">
            The final details needed at this stage are the exact stage dimensions. We should have already determined a rough layout during the planning process, but before the rig starts we ideally need dimensions that are accurate to the nearest 10 centimeters. If these aren't available we may have to estimate, which may result in creative teams having to do unpleasant re-arrangement of scenes and choreography during the tech run.
            </p>
            
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">
    
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Tech Week</h2>
            <p class="lead">
            This will vary depending on the type of event, and each step has its own challenges, so take a look at our <a href="./techweek" target="_blank" class="nav-link-custom" style="text-decoration: underline;">Tech Week</a> page to see how we run tech weeks and preparations. 
            But for any event, it will be a combination of some or all of the following steps: Rig, Lighting Programming, Sitzprobe, Cue To Cue and Tech Run.
            <br>
            Below are some examples of how the preparations for a production could go. These change depending on the production's needs and will be fully planned between the creative team and Project Manager.
            <table style="width:80%; margin-left: auto; margin-right: auto; overflow-x:scroll; position: sticky;">
            <tr style="border-top: 0px;">
                <th>Step</th>
                <th>Musicals</th>
                <th>Stage Plays</th>
            </tr>
            <tr>
                <th>Step 1</th>
                <td>Rig: 1-2 days</td>
                <td>Rig: 2-8 hours</td>
            </tr>
            <tr>
                <th>Step 2</th>
                <td>Lighting Programming: 4-9 hours</td>
                <td>Lighting Programming: 1-3 hours</td>
                <td></td>
            </tr>
            <tr>
                <th>Step 3</th>
                <td>Sitzprobe: 4-8 hours</td>
                <td>Sound Check (just for speakers and Q-lab, see <a class="nav-link-custom" style="text-decoration: underline;" href="./techweek">Sitzprobe</a>): <1 hour</td>
            </tr>
            <tr>
                <th>Step 4</th>
                <td>Cue-To-Cue: 1-3 hours</td>
                <td>Tech Run: (Performance length)+30 mins</td>
            </tr>
            <tr>
                <th>Step 5</th>
                <td>Tech Run: (Performance length)+1 hour</td>
            </tr>
            </table>
            </p>            
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Show Days</h2>
            <p class="lead">
            We will need to run a sound check before each performance, so the earlier you can get your performers warmed up and ready to go the better. 
            After sound check it's up to you! If you have any questions or concerns please speak to your Project Manager ASAP, they are there to help you run the best show you can.
            </p>
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">De-Rig & Final Details</h2>
            <p class="lead"> 
                Either the night of the final performance or the day after, we will get our members in to de-rig the production, then transport our equipment away. This is easiest when set pieces and any temporary audience chairs have already been cleared away, but it can be managed regardless.
            </p>
            <p class="lead">
                Like the rig, this is a stage that is open to any MUTTS member no matter their experience, since we are always grateful for an extra pair of hands.
            </p>
            <p class="lead">
                Finally, the quote will be invoiced to the creative team, which wraps up our work on the production.
            </p>
            
        </div>
        
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Questions and Concerns</h2>
            <p class="lead">To provide more information about what you can expect from MUTTS as a Manchester Universities Student Society, as well as what we tend to expect from you, you can always contact us at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a>.</p>
		</div>
    </div>
</div>
{% endblock %}
