{% extends 'base.html.twig' %}

{% set title = "Work With Us" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Are you a society requiring production support for your next event?</h2>
            <p class="lead">We have the knowledge, people and equipment required to help make your next Theatrical Performance or Live Event a great success.</p>
        </div>
    </div>
</div>
    
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Experience</h2>
            <p class="lead">We provided production support and equipment to over 40 events during the 2017-18 academic year.</p>
            <p>Some of the events we supported last year include:</p>
            <ul>
                <li>Various Society Balls (Lighting &amp; Sound)</li>
                <li>Musical Theatre Performances (Full Production)</li>
                <li>Pangaea Festival (Lighting &amp; Sound)</li>
                <li>Drama Shows (Lighting &amp; Sound across many different venues)</li>
                <li>University of Manchester Graduation Ball (Full Production)</li>
            </ul>
            <p>Take a look at some of our <a href="./previouswork">Previous Work</a> to see what we can do.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/1.jpg" alt="Mover">
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Equipment</h2>
            <p class="lead">We have a sizeable amount of Lighting &amp; Sound equipment available for hire at excellent rates.</p>
            <p>Some of the equipment we stock includes:</p>
            <ul>
                <li>Conventional Theatrical Lighting</li>
                <li>Intelligent LED/Moving Lights</li>
                <li>PA Systems, Speakers and Microphones</li>
                <li>Chamsys Lighting Control</li>
                <li>Digital Sound Mixer &amp; Multicore Systems</li>
                <li>Truss, Lighting Stands and other Rigging</li>
                <li>Steeldeck</li>
                <li>Mains Cable and Power Distribution</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/2.jpg" alt="Desks">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Get In Touch</h2>
            <p class="lead">If you feel that MUTTS would be able to help support your next event then please get in touch, either through our <a href="https://www.facebook.com/mutts.manchester/" target="_blank">Facebook Page</a> or by emailing the Hire Manager at <a href="mailto:hire@mutts.org.uk">hire@mutts.org.uk</a>.</p>
            <p>To provide more information about what you can expect from MUTTS as a Manchester Universities Student Society, as well as what we tend to expect from you, we have prepared a document which can be found <a href="files/Working_with_us.pdf" target="_blank">here</a>.</p>
		</div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/3.jpg" alt="Hi-vis">
        </div>
    </div>
</div>
{% endblock %}
