{% extends 'base.html.twig' %}

{% set title = "Work With Us" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">How to Make The Most of Your Tech Week</h2>
            <p class="lead">We know tech weeks can be a stressful.<br> Here are some things that you can do while working with us to keep the preparations for your show going as smoothly as possible, with the best results possible.</p>
        </div>
    </div>
</div>
    
<div class="container marketing">
    <div class="row featurette">
        <table width="100%">
            
            <tr style="border-top: 0px;">
                <th colspan="2"><h3 class="thin">Rig Day</h3></th>
            </tr>
            
            <tr >
                <td><ul>
                <li>Stay contactable! We may have questions that only become apparent once we start rigging.</li>
                <li>Know your stage dimensions, and make sure you've passed them on along with any details about the space like needing aisles lit etc.</li>
                </ul></td>
                <td><ul>
                <li>Don't try to use the space for rehearsal or set building while we are rigging. We will be hauling heavy, expensive equipment at height and dealing with electrical equipment that draws very high levels of power. It is better for everyone's safety to avoid getting in the way of an on-going rig.</li>
                </ul></td>
            </tr>
            <tr>
                <th colspan="2" ><h3 class="thin">Sitzprobe</h3></th>
            </tr>
            <tr>
                <td><ul>
                <li>If you are using pre-recorded audio cues, <b>have your Q-Lab file ready to go </b> on the Macbook you have chosen to use during the performance(s). This is where audio snippets can be played from during your performance, and is your responsibility to set up - but don't worry, if you're encountering issues we will always be around to help.</li>
                <li>Have a complete digital copy of the script/line-up with any recent changes and make sure it has been given to the A1.</li>
                </ul></td>
                <td><ul>
                <li>Make sure performers know the loudest and quietest parts of their performance.</li>
                <li>Make sure all your performers, band included, will be there on time with any instruments.</li>
                <li> Get any singers warmed up ASAP, since we will need to test their loudest performing voice.</li>
                <li>When the A1 asks for quiet, make sure your performers and team listen. This will make things move much faster.</li>
                </ul></td>
            </tr>
            <tr>
                <th colspan="2" ><h3 class="thin">Lighting Programming</h3></th>
            </tr>
            <tr>
                <td><ul>
                <li>Have a complete digital copy of the script/line-up with any recent changes and make sure it has been given to the LD.</li>
                <li>Let us know in advance if you are expecting to do lots of very complicated lights cues for different scenes/musical numbers so we know to leave time to program it.</li>
                <li>Don't invite the full cast/performance members to come along, as it will most likely just slow things down.

                </ul></td>
                <td><ul>
                <li>Invite 1 cast member or a member of the creative team with spare time to come and be a dummy so that you can see how the lights will look on real people.</li>

                <li>Ideally, have a rough recording/rehearsal recording of musical numbers so you can have a rough idea of the timing of cues.</li>

                </ul></td>
            </tr>
            <tr>
                <th colspan="2" ><h3 class="thin">Cue-To-Cue/Tech Run</h3></th>
            </tr>
            <tr>
                <td><ul>
                <li>Make sure your performers are well rehearsed beforehand. It may be tempting to finish cleaning up scenes in the tech run, but if performers don't know their lines/lyrics, then it becomes impossible to check if cues are correct.</li>
                <li>Keep notes on any issues you spot or things you would like to change. Make sure to mark accurately when in the performance they happen, such as by a script line or cue number. Take time to discuss these with the Project Manager afterwards.</li>
                </ul></td>
                <td><ul>
                <li>Don't assume or plan for things to be different on performance nights e.g "Character A will sing that and play along on a ukelele for the real performance, but right now they will speak it, just to keep things simple." Your tech run should be as close to the real thing as possible to make sure any issues are smoked out in advance.</li>
                </ul></td>
            </tr>
            </table>
    </div>

    
    

    

    <div class="row featurette">
        
    </div>
</div>
{% endblock %}
