{% extends 'base.html.twig' %}

{% set title = "Previous Work" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Previous Work</h2>
            <p class="lead">Below is a showcase of some of our previous work with other societies and organisations.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Alive! Festival</h2>
            <p class="lead">Alive! Festival is an entirely student-run festival hosted at the UoM SU, which has become a yearly event that MUTTS is proud to be part of.</p>
            <p>Across 4 stages, we provide PA, lighting, and staging to provide a platform for student artists to perform their hearts out.</p>
            <div class="row gallery">
                <a href="img/previouswork/alive/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Godspell" class="col-sm-3">
                    <img src="img/previouswork/alive/1.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/alive/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Godspell" class="col-sm-3">
                    <img src="img/previouswork/alive/2.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/alive/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Guys and Dolls" class="col-sm-3">
                    <img src="img/previouswork/alive/3.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/alive/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Guys and Dolls" class="col-sm-3">
                    <img src="img/previouswork/alive/4.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">UMMTS</h2>
            <p class="lead">University of Manchester Musical Theatre Society (UMMTS) never fail to put on amazing shows in challenging spaces.</p>
            <p>MUTTS take care of providing high-spec full technical production packages, complete with intelligent lighting, radio mics and digital mixers for their 4-5 shows a year to support incredibly talented casts on stage.</p>
            <div class="row gallery">
                <a href="img/previouswork/ummts/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Godspell" class="col-sm-3">
                    <img src="img/previouswork/ummts/1t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Godspell" class="col-sm-3">
                    <img src="img/previouswork/ummts/2t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Guys and Dolls" class="col-sm-3">
                    <img src="img/previouswork/ummts/3t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Guys and Dolls" class="col-sm-3">
                    <img src="img/previouswork/ummts/4t.png" class="img-fluid">
                </a>
            </div>
            <div class="row gallery">
                <a href="img/previouswork/ummts/5.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Grand Hotel" class="col-sm-3">
                    <img src="img/previouswork/ummts/5t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/6.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Grand Hotel" class="col-sm-3">
                    <img src="img/previouswork/ummts/6t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/7.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Titanic" class="col-sm-3">
                    <img src="img/previouswork/ummts/7t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/8.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Titanic" class="col-sm-3">
                    <img src="img/previouswork/ummts/8t.png" class="img-fluid">
                </a>
            </div>
            <div class="row gallery">
                <div class="col-sm-3"></div>
                <a href="img/previouswork/ummts/9.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Betty Blue Eyes" class="col-sm-3">
                    <img src="img/previouswork/ummts/9t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/10.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="A Chorus Line" class="col-sm-3">
                    <img src="img/previouswork/ummts/10t.png" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Pangaea Festival</h2>
            <p class="lead">In 2016-17, MUTTS became increasingly involved with Manchester Universities original student-run festival.</p>
            <p>Starting out with supplying rigging packages to support projectors and decor in smaller spaces, we eventually supplied full Lighting Packages to a selection of stages as well as site &amp; decor lighting, all built and operated by our technicians</p>
            <div class="row gallery">
                <a href="img/previouswork/pangaea/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 2 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/1t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/pangaea/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 3 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/2t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/pangaea/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 2 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/3t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/pangaea/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 3 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/4t.png" class="img-fluid">
                </a>
            </div>
            <div class="row gallery">
                <div class="col-sm-3"></div>
                <a href="img/previouswork/pangaea/5.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 3 Lighting & Set" class="col-sm-3">
                    <img src="img/previouswork/pangaea/5t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/pangaea/6.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 3 Lighting & Set" class="col-sm-3">
                    <img src="img/previouswork/pangaea/6t.png" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Harmony Gospel Choir</h2>
            <p class="lead">We've supported Manchester's Harmony Gospel Choir's Summer Concert for two years running.</p>
            <p>We provide full technical production packages and technicians to run these events. With limited time available on the day a full crew were able to see the entire show through from get-in to get-out including rehearsal time for the performers.</p>
            <div class="row gallery">
                <a href="img/previouswork/hgc/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Summer 2016 Concert" class="col-sm-3">
                    <img src="img/previouswork/hgc/1t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/hgc/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Summer 2016 Concert" class="col-sm-3">
                    <img src="img/previouswork/hgc/2t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/hgc/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Summer 2017 Concert" class="col-sm-3">
                    <img src="img/previouswork/hgc/3t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/hgc/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Summer 2017 Concert" class="col-sm-3">
                    <img src="img/previouswork/hgc/4t.png" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}