{% extends 'base.html.twig' %}

{% set title = "Previous Work" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Previous Work</h2>
            <p class="lead">Below is a showcase of some of our previous work with other societies and organisations.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Alive! Festival</h2>
            <p class="lead">Alive! Festival is an entirely student-run festival hosted at the University of Manchester Student Union, which has become a yearly event that MUTTS is proud to be part of.</p>
            <p>Across 4 stages, we provide PA, lighting, and staging to provide a platform for student artists to perform their hearts out.</p>
            <div class="row gallery">
                <a href="img/previouswork/alive/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Alive! Fest" class="col-sm-3">
                    <img src="img/previouswork/alive/1.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/alive/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Alive! Fest" class="col-sm-3">
                    <img src="img/previouswork/alive/2.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/alive/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Alive! Fest" class="col-sm-3">
                    <img src="img/previouswork/alive/3.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/alive/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Alive! Fest" class="col-sm-3">
                    <img src="img/previouswork/alive/4.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">UMMTS</h2>
            <p class="lead">University of Manchester Musical Theatre Society (UMMTS) never fail to put on amazing shows in challenging spaces.</p>
            <p>MUTTS take care of providing high-spec full technical production packages, complete with intelligent lighting, radio microphones and digital mixers for their 4-5 shows a year to support incredibly talented casts on stage.</p>
            <div class="row gallery">
                <a href="img/previouswork/ummts/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Godspell" class="col-sm-3">
                    <img src="img/previouswork/ummts/1t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Godspell" class="col-sm-3">
                    <img src="img/previouswork/ummts/2t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/3.png" data-toggle="lightbox" data-gallery="gallery" data-title="Alice By Heart" class="col-sm-3">
                    <img src="img/previouswork/ummts/3t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Guys and Dolls" class="col-sm-3">
                    <img src="img/previouswork/ummts/4t.jpg" class="img-fluid">
                </a>
            </div>
            <div class="row gallery">
                <a href="img/previouswork/ummts/5.png" data-toggle="lightbox" data-gallery="gallery" data-title="Urinetown" class="col-sm-3">
                    <img src="img/previouswork/ummts/5t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/6.png" data-toggle="lightbox" data-gallery="gallery" data-title="No Higher Purpose" class="col-sm-3">
                    <img src="img/previouswork/ummts/6t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/7.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Titanic" class="col-sm-3">
                    <img src="img/previouswork/ummts/7t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/ummts/8.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Titanic" class="col-sm-3">
                    <img src="img/previouswork/ummts/8t.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">UMDS Stage Plays</h2>
            <p class="lead">University of Manchester's Drama Society puts on a massive range of stage plays every year with new talent and writing.</p>
            <p>We provide lights and speaker systems for many of these, following custom stage layouts designed by their directors.</p>
            <div class="row gallery">
                <a href="img/previouswork/UMDS/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Stench" class="col-sm-3">
                    <img src="img/previouswork/UMDS/1t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/UMDS/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Stench" class="col-sm-3">
                    <img src="img/previouswork/UMDS/2t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/UMDS/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Stench" class="col-sm-3">
                    <img src="img/previouswork/UMDS/3t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/UMDS/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Strange Bedfellows" class="col-sm-3">
                    <img src="img/previouswork/UMDS/4t.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Onstage Musical Theatre Society at MMU</h2>
            <p class="lead">Manchester Metropolitans's Musical Theatre Society put on a selection of high-quality student productions every year in their student union venue.</p>
            <p>MUTTS uses a mix of our own tech and on-site setups in order to provide lights and sound systems that meet each productions needs.</p>
            <div class="row gallery">
                <a href="img/previouswork/Onstage/5.png" data-toggle="lightbox" data-gallery="gallery" data-title="Company" class="col-sm-3">
                    <img src="img/previouswork/Onstage/5t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/Onstage/6.png" data-toggle="lightbox" data-gallery="gallery" data-title="Company" class="col-sm-3">
                    <img src="img/previouswork/Onstage/6t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/Onstage/7.png" data-toggle="lightbox" data-gallery="gallery" data-title="Company" class="col-sm-3">
                    <img src="img/previouswork/Onstage/7t.png" class="img-fluid">
                </a>
                <a href="img/previouswork/Onstage/8.png" data-toggle="lightbox" data-gallery="gallery" data-title="Company" class="col-sm-3">
                    <img src="img/previouswork/Onstage/8t.png" class="img-fluid">
                </a>
            </div>
            <div class="row gallery">
                <a href="img/previouswork/Onstage/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="9 To 5" class="col-sm-3">
                    <img src="img/previouswork/Onstage/1t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/Onstage/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="9 To 5" class="col-sm-3">
                    <img src="img/previouswork/Onstage/2t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/Onstage/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="9 To 5" class="col-sm-3">
                    <img src="img/previouswork/Onstage/3t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/Onstage/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="9 To 5" class="col-sm-3">
                    <img src="img/previouswork/Onstage/4t.jpg" class="img-fluid">
                </a>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Pangaea Festival</h2>
            <p class="lead">In 2016-17, MUTTS became increasingly involved with Manchester Universities original student-run festival.</p>
            <p>Starting out with supplying rigging packages to support projectors and decor in smaller spaces, we eventually supplied full Lighting Packages to a selection of stages as well as site &amp; decor lighting, all built and operated by our technicians</p>
            <div class="row gallery">
                <a href="img/previouswork/pangaea/1.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 2 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/1t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/pangaea/2.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 3 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/2t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/pangaea/3.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 2 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/3t.jpg" class="img-fluid">
                </a>
                <a href="img/previouswork/pangaea/4.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Academy 3 Lighting" class="col-sm-3">
                    <img src="img/previouswork/pangaea/4t.jpg" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}