{% extends 'base.html.twig' %}

{% set title = "A Guide to Tech Week" %}

{% block body %}
<div class="container pad-top">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading"><a id="Definitions" class="nav-link-custom">A Guide to Tech Week</a></h2>
            <p class="lead">We know tech weeks can be a stressful.<br> Here is an outline of how we run a tech week, and some things that can be done to keep it going smoothly.</p>
        </div>
    </div>
    <hr class="featurette-divider" style="margin: 1rem 0;">

</div>

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Rig Day</h3>
            <p class="lead">
            Our crew will prepare our technical rig and any staging needed.             
            We might need to contact the creative team through the day, but otherwise we mostly need the space clear of creative team members for their safety.
            </p>
            <p class="lead"> This stage is open to any MUTTS members to get involved, no matter their experience, so keep an eye for call-outs for rig helpers on the discord server.
            The Project Manager (and sometimes the A1 and LD) will be assigning tasks to people throughout, so speak to them if you are unsure what to do.
            </p>
            <p class="lead">
            Wear appropriate clothes that you can move in, and bring a drink and snack for yourself (since we may be there 2-9 hours). Steel-toed shoes are also advisable but not compulsory.
            If you haven't been ladder trained, mention it to a MUTTS member on site before using any ladders, even if they have been set up for you.
            </p>
            

        </div>
    </div>

            <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Lighting Programming</h3>
            <p class="lead">
                The Project Manager and LD (Lighting Designer) will meet with the director/creative lead to program the sequences that the lights will go through during the performance. 
                For this we need an accurate digital copy of the script. For musicals this includes the lyrics of any musical numbers.
            </p>
            <p class="lead">
                As we go through the script and program the lighting cues, the director or stage manager will mark the cues onto the script in order to produce a tech script. 
                It is helpful to know the heights of key cast members which may require spotlights, as well as any specific blocking. Having a few cast members there can help with any complicated blocking, but isn't necessary. 
            </p>
            <p class="lead">
                If you have been invited to fill the role of LD or PM for the first time, or have been invited to shadow one of these roles, there should be a more experienced member of MUTTS there to help you through the process. It can help for the Lighting Operator for the production to attend to familiarise themselves with the cues, but this isn't compulsory.
        </div>
    </div>
            <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Sitzprobe</h3>
            <p class="lead">
                The Project Manager and A1 (Audio lead), will lead a detailed sound check of every aspect of the audio setup. 
                This means that band members (with their instruments), cast members and anyone else who needs to be mic'ed must be present.  
                This will be the first time everyone is mic'ed and involves tuning audio components to individual performers and then the whole group, so this may take more time than one might expect.
            </p><p class="lead">
                It can also help to make sure cast members are warming up their voices and band members are tuning their instruments while we prepare our tech, so that we can test their loudest and quietest performing voices against the system. We will also be tuning the system to make sure band members can hear what they need to through monitors.
            </p>
            <p class="lead">
                For new A1s we will make sure to have more experienced MUTTS members around, and it is best for the A2 to be around for the Sitzprobe so they can learn the skills they will be using on show days. A1s may also want to bring their laptop or tablet for managing show files, TheatreMix and scripts.
            </p>
        </div>
    </div>
            <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Cue To Cue</h3>
            <p class="lead">
                This is a shortened mock tech run, where the performers go through the scenes/sections of the performance and we check every lighting cue and sound component is operating properly with the performers.
                 Here we skip sections with no cues so that it doesn't take the full time of a run. This step is usually only done for full stage musicals.
            </p>
            <p class="lead">
                The creative team should also have any necessary pre-recorded audio cues ready and loaded into a Q-Lab file in order to test them. 
                If there is any difficulty doing this, we recommend <a href="https://www.youtube.com/watch?v=m-YrIic83D0">this video</a> as a basic tutorial.
            </p>
        </div>
    </div>
    <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Tech Run</h3>
            <p class="lead">
                This is a full run of the performance, with every lighting cue and audio component included so that we can test every aspect of the system and make sure everything is running smoothly.
                Some things may go wrong during the tech run, but this is no cause for panic. We will have extra members of our crew around to handle any issues, and will discuss any concerns with the creative team afterwards to ensure any issues are addressed.

            </p>
        </div>
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">
    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Dress Run</h3>
            <p class="lead">
            By the time of the dress run, all the technical issues should have been ironed out, but if you have any concerns or adjustments you would like to make then take notes and talk to the Project Manager ASAP.
            </p>
        </div>
        
    </div>


    

    
    

    

    
</div>
{% endblock %}
