{% extends 'base.html.twig' %}

{% set title = "How We Work" %}

{% block body %}

<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Who's Who: Roles in MUTTS</h2>
            <p class="lead">When tech weeks are in full swing, it's easy to get a little confused about who's in charge of what. Here's a quick guide to the roles we use in MUTTS productions to keep things clear. </p>
        </div>
    </div>
    <hr class="featurette-divider" style="margin: 1rem 0;">
    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Project Manager (PM)</h3>
            <p class="lead"> This is the person who takes the overall lead for the planning and execution of a technical production.
            <br>Responsibilites:
            <ul>
            <li>To liaise with the creative team to get an idea of the productions needs in order to plan for the show</li>
            <li>To create and finalise a quote to ensure costs are covered by the client</li>
            <li>To work with the A1 and LD to plan a rig for the show, including aspects such as power distribution and comms.</li>
            <li>To prepare all equipment needed for the rig for transport to the venue</li>
            <li>To managing staffing for, and lead, the rig and de-rig for the production</li>
            <li>To liaise with the creative team to ensure the lights programming, sitzprobe and tech run go smoothly, and address any issues</li>
            <li>To de-prep the equipment used and report any damage to the Hire Manager</li>
            </ul>
            </p>
        </div>
    </div>
    <hr class="featurette-divider" style="margin: 1rem 0;">


    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Lighting (LX)</h3>
            <p class="lead"><b>Lighting Operator(Op):</b> After the lights have been fully set-up and programmed, someone needs to control their cues on the actual night of the performance. This just requires someone to follow cues in the script, or given by the stage manager, to press go at the right time for the next cue to play. All the cues will be pre-programmed so this role does not require any previous experience, but there is still plenty of opportunity to learn how lighting programming works.</p>

            <p class="lead"><b>Lighting Designer/Programmer (LD):</b> This is the person who takes the lead on planning and programming the lights for a production. 
            <br>Responsibilities:
            <ul> 
            <li>To design the lighting aspects of a rig plan alongside the Project Manager</li>
            <li>To design and program the lighting cue stack to fit the creative team's needs</li>
            <li>To adjust and de-bug the lighting cues after cue-to-cues and tech runs</li>
            <li>To make other versions of the cue stack such as for a relaxed performance if necessary</li>
            </ul>
            </p>
            
        </div>
    </div>

    <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Audio</h3>
            <p class="lead"><b>A2 (Audio Assistant):</b> While the A1 mixes the main aspects of the show and prevents feedback, other aspects such as the band's headsets may need to have their audio controlled. This is the role of the A2. Additionally, when casts are using RF microphones (a type of clip-on discreet microphone that allows them to walk around the stage), they will need to have them turned on and off at the start and end of shows, and have the microphones properly positioned on the actor's faces. An A2 will learn how to help the A1 do this, as well as how to manage the battery levels of these packs, and possibly change them from one actor to another during the show. Every skill in this role can be taught over the course of the production so it is a great opportunity for people new to audio tech.</p>

            <p class="lead"><b>A1 (Audio Lead):</b> This is the person who takes the lead on planning and mixing the audio components of the production.
            <br>Responsibilites:
            <ul>
            <li>To plan what microphones, and other components will be needed for production alongside the Project Manager</li>
            <li>To prepare the mixing desk with an appropriate file for the show</li>
            <li>To lead a Sitzprobe, where the system is tuned to the performers and venue in order to prevent feedback and balance the audio well</li>
            <li>To mix the main audio elements of the show</li>
            <li>To manage RF microphone set-ups and other inputs during show week</li>
            </ul>
            </p>
            
        </div>
    </div>
        <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-12">
            <h3 class="featurette-heading">Rig Tech and Shadowing</h3>
            <p class="lead"><b>General Technicians for Rig & De-rig:</b> While this isn't a formal role as such, we are always in need of an extra set of hands during rigs, so this is a great opportunity for new people to turn up and learn! We will show you anything you need to know, and please do say if you feel nervous doing anything for the first time.</p>
            <p class="lead"><b>Shadowing:</b> If you'd like to try a more complicated role, but you don't quite feel ready for it, come chat to a committee member about the opportunity to shadow a more experienced MUTTS member in that role.</p>
        </div>
    </div>


    <hr class="featurette-divider" style="margin: 1rem 0;">

    <div class="row featurette">
        <div class="col-md-10">
            <h3 class="featurette-heading">Questions and Opportunities</h3>
            <p class="lead">To find out how you can try one of these roles, or ask questions about the roles, join our discord server.
            </p>
        </div>
        <div class="col-md-2">
            <p class="lead">
            <br><br>
            <div class="socialmediaicons">
            <script src="https://kit.fontawesome.com/73c5907498.js" crossorigin="anonymous"></script>
            <a href="https://discord.com/invite/EFZJDQQAJN" target="_blank"><i class="fab fa-discord" style='font-size:64px'></i></a>
            </div>
            </p>
        </div>
    </div>
</div>
{% endblock %}
