{% extends 'base.html.twig' %}

{% set title = "Work With Us" %}

{% block body %}
<div class="container pad-top">
    <div class="row">
        <div class="col-md-12">
            <h2 class="thin">Do you need production for your next event?</h2>
            <p class="lead">You've come to the right place, we have the knowledge, people and equipment required to help make your next Theatrical Performance or Live Event a great success.</p>
        </div>
    </div>
</div>
    
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Achievements</h2>
            <p class="lead">We provide production tech and crew to over 30 events a year, including our pride and joy, the Alive! Festival, run by students for students. This event included 5 stages, designed, rigged and operated by us to give student performers a chance to shine.</p>
            <p class="lead"> We also regularly create custom rigs for musicals, drama shows and live gigs to allow creative teams to design their performance in any layout they would like, even a full musical rigged in traverse!</p>
            <p>Take a look at some of our <a href="./previouswork">Previous Work</a> to see what we can do.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/1.jpg" alt="Mover">
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Equipment Hire</h2>
            <p class="lead">If you know what you're doing in production but are missing the equipment to make your event come to life, we have a sizeable amount of Lighting &amp; Sound equipment available for hire at excellent rates.</p>
            <p>Some of the equipment we stock includes:</p>
            <ul>
                <li>Conventional or Intelligent Theatrical Lighting </li>
                <li>PA Systems, Speakers, Amps, and Microphones</li>
                <li>Digital Sound Mixers &amp; Multicore Systems</li>
                <li>Lighting Control Desks</li>
                <li>Truss, Scaffolding, Lighting Stands and other Rigging</li>
                <li>Steeldeck Staging and Stage Flats</li>
                <li>Power Distribution and assorted cabling</li>
            </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/2.jpg" alt="Desks">
        </div>
    </div>

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">New to production and events?</h2>
            <p class="lead">If you're new to directing, or are taking your small production to a big audience for the first time, we have the experience and understanding to help you create affordable events with simple plans. Don't be nervous about getting good quality production crew! We can transform your venue without breaking the bank.</p>
            <p class="lead">We regularly work with first-time directors with the University of Manchester Drama Society and Manchester Metropolitan's Developmental Theatre Society. Since most of our clients are non-profit groups getting funding from crowd funding and grants, we understand the need to keep budgets manageable, and can always talk to you about understanding the costs of production.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/2.jpg" alt="Desks">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">What we need from you to get started:</h2>
            <p class="lead"><b>Communication:</b> Get in touch via our email at <a href="mailto:committee@mutts.org.uk">committee@mutts.org.uk</a> and keep in contact! We will help arrange meetings and discussions to plan your production, agree on your costs quote and more, so stay in touch!</p>
            <p class="lead"><b>Costs:</b> Unfortunately we can't run for free. We will discuss a costs quote with you, but it's up to you to find the funding and make sure you can sign off on a quote at least a week before the event. Usually for drama shows or one-night events this will be in the range if £200-£800, and for full musicals between £1.5K and £3.5K (though we're always happy to go bigger if you can!). We will invoice you after the event with the agreed-upon quote, so ensure that you know how you plan to pay.</p>
            <p class="lead"><b>Script/Details:</b> We know scripts and shows plans can be constantly changing, even right up until the tech run, but we need an accurate version of your script, lineup or event timings, ideally a week before the event, to properly be able to operate your production. This keeps everything running smoothly and avoids unnecessary issues. If changes happen after this, we are always happy to make small adjustments, but won't necessarily be able to accomodate massive re-designs of your production in the week before the event.</p>
		</div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="img/workwithus/3.jpg" alt="Hi-vis">
        </div>
    </div>
</div>
{% endblock %}
